
/* ############################################## Первый блок ##################################################### */
.mainBlock {
    width: 100%; 
    height: 100%; 
    background: linear-gradient(100deg, #3625AF 0%, #C46BD5 100%);
}
.mainBlock .navMenu_text {
    width: 707px;
    text-align: center;
}
.close_btn_sidebar {
    position: absolute;
    top: 5px;
    left: 170px;
}
a {
    text-decoration: none;
    color: #fff;
}
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 68rem;
    margin: 0 auto;
    
}
.navMenu_img {
    margin-left: 34px;
}
.navMenu_img img {
    width: 151px;
    height: 41px;
    border: 1px solid #fff;
    margin-top: 24px;
    margin-right: 16px;
}
.nav {
    height: 87px;
}
.nav-link {
    font-size: 12px; 
    font-family: Inter; 
    font-weight: 600; 
    text-transform: uppercase; 
    cursor: pointer;
}


/* ############################################## Второй блок ##################################################### */

.blockTwo {
    width: 500px;
    position: relative;
    top: 68px;
    left: 243px;
}
.div_text div > h1 {
    width: 475px;
    height: 109px;
    color: white;
    font-size: 51px;
    font-family: Roboto;
    font-weight: 900;
    margin-bottom: 30px;
    
}
.div_text div > p {
    width: 206px;
    height: 39px;
    color: white;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    
    line-height: 18px;
}
.div_text div:last-child {
    width: 173px;
    height: 5px;
    background-color: #fff;
    margin-top: -15px;
}
.icon_with_text {
    width: 287px;
    height: 108px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    
}
.icon_with_text div div img {
    width: 39px;
    height: 39px;
}
.imgCar {
    width: 122px;
    height: 41px;
    position: relative;
    display: flex;
    
}
.imgCar img {
    width: 39px;
    height: 39px;
}
.imgCar span {
    width: 139px;
}
.imgCar p,
.imgGuarantee p,
.imgTime p {
    color: white;
    font-size: 9px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 11.8px;
    margin-top: 6px;
}
.imgGuarantee {
    width: 124px;
    height: 40px;
    position: relative;
    display: flex;
    gap: 9px;
    margin-left: 18px;
}
.imgGuarantee span {
    width: 128px;
}
.imgTime {
    width: 135px;
    height: 38px;
    position: relative;
    display: flex;
    gap: 10px;
    
}
.imgTime img {
    width: 50px;
    height: 50px;
}
.imgTime span {
    width: 144px;
}

/* ############################################## Белый блок ##################################################### */

.whiteBlock {
    width: 350px;
    height: 328px;
    z-index: 2;
}
.whiteBlockBG {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
}
h2 {
    width: 146px;
    left: 30px;
    top: 30px;
    position: absolute;
    color: black;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 21px;    
}
h5 {
    color: black;
    font-size: 10px;
    font-family: Roboto;
    font-weight: 400;
    text-transform: uppercase;
}
.div_h5 h5:first-child {
    width: 142px;
    left: 30px;
    top: 84px;
    position: absolute;
    
}
.div_h5 h5:nth-child(2) {
    width: 79px;
    left: 30px;
    top: 139px;
    position: absolute;
}
.div_h5 h5:last-child {
    width: 106px;
    left: 30px;
    top: 209px;
    position: absolute;
}
.blueLine {
    width: 84%;
    height: 10px;
    left: 30px;
    top: 109px;
    position: absolute;
    background: #BAF1FF;
    border-radius: 4px;
}
.purpleLine {
    width: 42%;
    height: 10px;
    left: 30px;
    top: 109px;
    position: absolute;
    background: #BE69D5;
    border-radius: 4px;
}
.block68m2 {
    width: 40px;
    height: 20px;
    left: 284px;
    top: 80px;
    position: absolute;
    border-radius: 4px;
    font-size: 14px;
}
.blueCircle {
    width: 24px;
    height: 24px;
    left: 162px;
    top: 103px;
    position: absolute;
    background: #302594;
    border-radius: 50%;
}
.pointTextBlock {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 19px;
    bottom: 171px;
    left: 28px;
}
.pointTextBlock .point_with_text:nth-child(5),
.pointTextBlock .point_with_text:nth-child(6),
.pointTextBlock .point_with_text:last-child {
    margin-left: -34px;
}
.pointTextBlock .point_with_text:nth-child(4),
.pointTextBlock .point_with_text:nth-child(5),
.pointTextBlock .point_with_text:nth-child(6),
.pointTextBlock .point_with_text:last-child {
    margin-top: -10px;
}
.point_with_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90px;
    height: 50px;
    
}
.point_with_text p {
    color: black;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: -5px;
    line-height: 15px;
}
.point_with_text div:last-child {
    margin-left: 5px;
}
.whiteBlock_btn {
    width: 127px;
    height: 40px;
    left: 104px;
    top: 266px;
    position: absolute;
    background: #302594;
    box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
}
.parent {
    overflow-x: hidden;
    height: 100vh;
}
.element {
    width: 424px;
    height: 378px;
    background-image: url(745-664.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 150px;
    position: absolute;
    float: right;
    bottom: 399px;
    right: 0;
    transform: translateX(0);
    transition: transform 1.5s ease;
}

.corner_img {
    position: relative;
}
.element.active {
    transform: translateX(100%);
}
.hide {
    transform: translateX(100%);
}
.scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
    left: 263px;
    color: white;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 16px;
}
.scroll img {
    width: 33px;
    height: 32px;
    margin-bottom: 14px;
}
/* ############################################## Страница с формой ##################################################### */
form {
    padding: 20px;
}
.div_page {
    width: 100%;
    height: auto;
    background: #d47bed;
    padding: 20px;
}
.input_div {
    display: flex;
}
input[type="text"] {
    width: 70%;
    text-align: center;
    margin-right: 10px;
}
.input_div button {
    cursor: pointer;
    width: 50%;
}

@keyframes scroll {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}
.scroll {
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.div_text {
    position: relative;
    left: 0px;
    animation: slide-in 1s ease-in forwards;
}
@keyframes slide-in {
    0% {
        transform: translateX(-150%)
    }
    100% {
        transform: translateX(0);
    }
}
.icon_with_text {
    position: relative;
    left: -100%;
    animation: slide-in 2.5s forwards;
}
@keyframes slide-in {
    0% {
        left: -150%;
    }
    100% {
        left: 0;
    }
}
.whiteBlock {
    position: relative;
    animation: slideInRight 2s ease-in-out;
    }
    
@keyframes slideInRight {
    0% {
    transform: translateX(100%);
    }

    100% {
    transform: translateX(0);
    }
}

/* ############################################## Подвал ##################################################### */
footer {
    height: 350px;
    
}
.footer_btn_email {
    display: block;
    position: relative;
    left: 30px;
    top: 20px;
    z-index: 5;
}
.popup {
    display: none;
    width: 460px;
    height: 200px;
    margin: 20px;
    padding: 15px;
}
.popup-content h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif, monospace;
}
#emailForm label {
    color: #FFF;
    font-size: 18px;
    text-decoration: underline;
    text-align: left;
}
#emailForm input[type="email"] {
    width: 300px;
}
#emailForm input[type="submit"] {
    text-align: center;
    width: 300px;
    padding: 3px;
    border: none;
    border-radius: 4px;
    background: #d47bed;
}
#wpforms-23-field_2-container #wpforms-23-field_2 {
    padding: 3px;
    margin-bottom: 5px;
}
input[type="textarea"] {
    text-align: center;
    width: 300px;
    padding: 3px;
    height: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.yandex_h1 {
    margin: 20px;
    font-size: 30px;
    color: #fff;
}
#map, #result {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 20px;
}
#table {
    width: 600px;
    height: auto;
    position: relative;
    top: 115px;
    left: 130px;
}
#weatherInfo {
    color: white;
    position: relative;
    top: 110px;
    left: 130px;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        left: -20px;
        top: 33px;
    }
}

@media screen and (max-width: 1170px){
    .div_btn {
        display: none;
    }
    .navMenu_img {
        display: block;
        cursor: pointer;
        margin-left: 20px;
        margin-top: -27px;
    }

}
@media (max-width: 1170px) {
    .dropdownBlock {
        display: none;
    }
    .navMenu {
        width: 100%;
    }

}

@media (max-width: 576px){
    .blockTwo {
        position: relative;
        top: 65px;
        left: 143px;
    }
    .div_text div > h1 {
        font-size: 46px;
        width: 100%;
    }
    .corner_img {
        width: 100%;
    }
    #header_btn {
        margin-top: 25px;
    }
    .div_text div > p {
        margin-top: 68px;
    }
    .hide {
        display: none;
    }

}
@media (max-width: 768px){

    .blockTwo {
        position: relative;
        top: -37px;
        left: 132px;
    }

}
@media (max-width: 1199px) {

    .blockTwo {
        left: 54px;
        top: 0px;
        position: relative;
    }
    .whiteBlock {
        bottom: 7px;
    }
    .whiteBlock h2 {
        font-size: 1rem;
        font-weight: 600;
    }
    .whiteBlock h5 {
        font-size: 0.65rem;
    }
}


@media (max-width: 1399px) {
    .blockTwo {
        left: 0px;
        top: 0px;
        position: relative;
    }
    .whiteBlock {
        bottom: 7px;
        left: -76px;
    }
    .whiteBlock h2 {
        font-size: 1rem;
        font-weight: 600;
    }
    .whiteBlock h5 {
        font-size: 0.65rem;
    }
}



@media (max-width: 992px) {
    .blockTwo {
        left: 9px;
    }
    .whiteBlock {
        left: 9px;
        bottom: 0;
    }
    .whiteBlock h2 {
        font-size: calc(0.5rem + .8vw);
        font-weight: 600;
    }
    .whiteBlock h5 {
        font-size: .6rem;
    }
    .corner_img {
        bottom: 28px;
    }
    .scroll {
        top: -38px;
        left: 222px;
    }
}



@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    .blockTwo {
        position: relative;
        top: 25px;
        left: 243px;
    }
    .whiteBlock {
        bottom: -22px;
        right: 197px;
    }
    .whiteBlock h2 {
        font-size: 16px;
        font-weight: 700;
    }
    .whiteBlock h5 {
        font-size: 0.75rem;
    }
}


.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}